.header {
    background-color: var(--gray-900);
    display: flex;
    justify-content: center;
    height: 10rem;
    padding: 4.25rem 0;
}

.header img {
    align-items: center;
    height: 2rem;
}